.header	,.footer,.aside,.conteiner{
	display: flex;
	font-family:fantasy;
	color: #6b000f6e;
	min-width: 200px;
	flex-direction: column;
    align-items: center;
}
.main{
	margin: 5px 0;
	display: flex;
	justify-content: center;
}

.header{
	background-color: #FAFAD2;
	width: 100%;
	height: 250px;
}

.aside{
	background-color: #EEE8AA;
	height: 300px;
	width: 33%;
}
.conteiner{
	background-color: #F0E68C;
	height: 300px;
	width: 67%;
}
.footer{
	height: 200px;
	background-color: #BDB76B
}
.paragraf{
	background-color: #ffd70014;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	display: flex;
    justify-content: center;
    align-items: center;
}
